apiVersion: 1

contactPoints:
  - orgId: 1
    name: default-email
    uid: default-email
    receivers:
      - uid: default-email-receiver
        type: email
        settings:
          addresses: admin@example.com
        disableResolveMessage: false

policies:
  - orgId: 1
    receiver: default-email
    group_by: ['alertname', 'grafana_folder', 'service']
    group_wait: 30s
    group_interval: 5m
    repeat_interval: 4h
