apiVersion: 1

groups:
  - orgId: 1
    name: service-order-alerts
    folder: Service Alerts
    interval: 1m
    rules:
      - uid: service-order-down
        title: ServiceDown
        condition: A
        data:
          - refId: A
            relativeTimeRange:
              from: 300
              to: 0
            datasourceUid: PBFA97CFB590B2093
            model:
              expr: up{job="service-order"} == 0
              hide: false
              intervalMs: 1000
              maxDataPoints: 43200
              refId: A
        noDataState: Alerting
        execErrState: Error
        for: 1m
        annotations:
          summary: "Service 'service-order' is down"
          description: "Service 'service-order' has been down for more than 1 minute."
        labels:
          severity: critical
          service: service-order

      - uid: service-order-high-http-errors
        title: HighHttpErrors
        condition: A
        data:
          - refId: A
            relativeTimeRange:
              from: 300
              to: 0
            datasourceUid: PBFA97CFB590B2093
            model:
              expr: sum(rate(http_errors_total[5m])) > 0
              hide: false
              intervalMs: 1000
              maxDataPoints: 43200
              refId: A
        noDataState: OK
        execErrState: Error
        for: 1m
        annotations:
          summary: "High HTTP error rate in 'service-order'"
          description: "Detected HTTP errors (status >= 400) in 'service-order' logs/metrics."
        labels:
          severity: warning
          service: service-order
